:root {
  --primary-font-family: 'Open Sans', sans-serif;
  --cards-gap: 20px;
  --transition-duration-and-func: 250ms linear;
  --main-color: rgba(6, 147, 186, 0.8);
  --max-width: 1600px;
  --main-width: 1500px;
}

/* ========= Reset Default Styles ========== */

body {
  font-family: var(--primary-font-family);
  max-width: var(--max-width);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: 1px solid #385157;
  border-radius: 25px;
  font-size: 14px;
  background-color: transparent;
}

select:focus {
  outline: none;
}

button {
  border: 1px solid #385157;
  border-radius: 25px;
  font-size: 14px;
  background-color: transparent;
  transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

button.active {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  cursor: pointer;
  background-color: rgba(6, 147, 186, 0.8);
  color: #ffff;
}

textarea {
  resize: none;
}

/* ========== General Styles ========== */

.section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.default-option {
  color: rgba(157, 164, 189, 0.6);
}

/* ========== Header ========== */

.header {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--main-color);
}

.logo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.logo-img {
  fill-opacity: 0.7;
}

.request-opts-container {
  max-width: 500px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.request-opts-radios,
.request-opts-types {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.request-opts-radios {
  margin-bottom: 20px;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.request-opts-item {
  height: inherit;
  max-width: calc(100% / 2);
  flex-basis: calc((100% / 2) - 110px);
}

.breed-select {
  padding: 0 6px;
}

/* ========== Main ========== */

.main-wrapper {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* ========== Filters ========== */

.filters-section {
  max-width: calc(var(--max-width) * 0.25);
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.filters-section-wrapper {
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.filter-buttons {
  padding: 15px;
  border: 1px solid tomato;
}

.main-filter-buttons,
.secondary-filter-buttons {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main-filter-buttons {
  margin-bottom: 15px;
}

.filter-btn {
  flex-basis: calc((100% / 2) - 15px);
  height: 30px;
}

.filters-list {
  padding: 15px;
  border-right: 1px solid tomato;
  border-left: 1px solid tomato;
  border-bottom: 1px solid tomato;
}

.filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.main-filter-signature,
.secondary-filter-signature {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main-filter-signature {
  margin-bottom: 5px;
}

.filter-signature-item {
  flex-basis: calc((100% / 2) - 5px);
  max-width: calc((100% / 2) - 5px);
  text-align: center;
  height: 30px;
  padding: 0 6px;
}

.select-filter {
  text-align: start;
}

/* ========== Content Section ========== */

.content-section {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 20px;
}

.sort-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-right: 1px solid tomato;
  border-left: 1px solid tomato;
  border-top: 1px solid tomato;
  background-color: var(--main-color);
}

.content-container {
  padding: 15px;
  border: 1px solid tomato;
}

.select-sort-signature {
  height: 30px;
  width: 170px;
  padding: 0 6px;
}

.sort-btn {
  height: 30px;
  width: 125px;
}

/* ========== Content Styling ========== */

.exact-breed-info {
  display: flex;
  gap: var(--cards-gap);
  align-items: start;
}

.breeds-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: calc(-1 * var(--cards-gap));
  margin-left: calc(-1 * var(--cards-gap));
}

.card-item {
  margin-top: var(--cards-gap);
  margin-left: var(--cards-gap);
  flex-basis: calc((100% / 2) - var(--cards-gap));
}

.img-content {
  width: 518px;
  height: 357px;
  flex-shrink: 0;
}

.cat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  padding-top: 20px;
  padding-right: 20px;
  line-height: 1.5;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
}

.text:not(:last-child) {
  margin-bottom: 7px;
}

.description {
  margin-bottom: 20px;
}

.param-name {
  font-weight: 600;
}

/* ========== Hidden ========== */

.hidden,
.hidden * {
  display: none;
  padding: 0;
}
